.footer__container {
    height: 20vh;
    background-color: var(--skin-color);
    margin-top: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-top-right-radius: 30%;
    border-top-left-radius:30%;
}

h4 {
    color: #fff;
    font-weight: 100;
}