img {
    width: 50%;
    background-size: cover;
}

h5 {
  color: var(--skin-color);
    font-size: var(--h3-font-size);
}

.projects__container {
    margin: 50px;
}

.swiper-button-prev,
.swiper-button-next {
 color: var(--skin-color) !important;
}

.swiper-pagination-bullet {
  background-color: var(--skin-color) !important;
}

.project__card {
  position: relative;
  text-align: center;
}

.text-block {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--body-color);
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

a:hover {
    color: var(--skin-color)
}

p {
    font-size: var(--small-font-size);
}

@media screen and (max-width: 768px) {
  h5 {
    font-size: var(--small-font-size);
  }
  p {
    font-size: var(--smaller-font-size);
  }
}
@media screen and (max-width: 350px) {
  h5 {
    font-size: var(--small-font-size);
  }
  p {
    font-size: var(--smaller-font-size);
  }
}